body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

* {
  box-sizing: border-box;
}

/*
 * Create dark grey header with a white logo
 */

header {
  background-color: #2B2B2B;
  height: 60px;
  width: 100%;
  opacity: .9;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;

}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */
.container {

  align:center;
  margin: 0 auto;
}

div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}



h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

/*
 * Display navigation links inline
 */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
  width: 50%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


/*---------------------------------------------------*/

 th {
  background-color: #333333;
  color: white;
  width: 200px;
}

tr:nth-child(even) {
    background-color: #EFFFF3;
}

.sndChart {
    height: 1800px;
}

input[type=text] {
    width: 50%;
    padding: 10px 10px;
    margin: 10px 10px;
}


input[type=button], input[type=submit], input[type=reset] {

      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
}

.search {
    background-color: #98B5A3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}


/*
 A LINK
*/

/* unvisited link */
.firstcol >a:link {
  color: green;
}

/* visited link */
.firstcol >a:visited {
  color: red;
}

/* mouse over link */
.firstcol >a:hover {
  color: blue;
}

/* selected link */
.firstcol >a:active {
  color: hotpink;
}

/*
    table
*/


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td {
  border: 1px solid #7c7c7c;
  text-align: right;
  padding: 5px;
}

th {
  text-align: center;
  padding: 8px;
  background-color: #333333;
  color: white;
}

td:nth-child(1) {
  text-align: center;
  width: 80em;
  min-width: 8em;
  max-width: 80em;
  word-break: break-all;
}



tr:nth-child(even) {
  background-color: #dddddd;
}


select {
  width: 20%;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  align:center;
}

.selection {
  width: 100%;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}