<!DOCTYPE html>

<html>
  <head>
    <title>JazzStock</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132476295-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132476295-1');
    </script>

  </head>



  <body>
    <form action="/sndChart" method="get" class="form" name="menu_form">
    <header>
          <input type="text" placeholder="종목명 / 종목코드" name="stockcode" value="{{ request.form.stockcode }}" style="width: 98%; ">
    </header>
    </form>
    <ul class="menu">
      <li><a href="/sndRankRelative">SndRANK</a></li>
      <li><a href="/sndRankIndependence">TEMP</a></li>
    </ul>
    <br>
    <br>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>