{% extends "layout.html" %}
{% block content %}

{% if stockinfo != None and sampledata != None  %}

<div class="jumbo">

    <h3>{{stockname[0]}} ({{stockname[1]}})</h3>

  <label><input type="radio" name="chartType" value="merge" checked=true onclick="myFunction()"><span>Merged</span></label>
  <label><input type="radio" name="chartType" value="ins" onclick="myFunction()"><span>Ins</span></label>
  <label><input type="radio" name="chartType" value="forwin" onclick="myFunction()"><span>Foreigner</span></label>


</div>
<div id="chart" class="sndChart"></div>
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/sndChart_double.js"></script>
<script>

var flag = "merge"

function myFunction() {
    flag = document.querySelector('input[name="chartType"]:checked').value;
    console.log(flag)
    search({{ sampledata.result|tojson }},flag)
}


window.onload = search({{ sampledata.result|tojson }},flag);


</script>


{% else %}
<script language="javascript">
function noSuchStock() {
    alert("해당 종목 데이터가 없습니다.");
    return;
}
</script>
<body onload="noSuchStock()">

{% endif %}

{% endblock %}